SmartSocietyWeb/App_WebReferences/SSAPIGen/General.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="General" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smartsociety.riteshtailor.in/General.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smartsociety.riteshtailor.in/General.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneral_GetAllResidentsDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResidentsDetails" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllResidentsDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResidentsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFlatDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlatDetails" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFlatDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlatDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllAssets_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllAssets" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllAssets_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewGateKeeping_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewGateKeeping" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewGateKeeping_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewGateKeepingResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllNotices_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllNotices" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllNotices_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllNoticesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllVendors" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllEvents" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFacilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFacilities" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFacilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllStaffMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffMembers" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllStaffMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllPolls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPolls" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllPolls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPollsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneral">
    <wsdl:operation name="GetAllResidentsDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllResidentsDetails" message="tns:IGeneral_GetAllResidentsDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllResidentsDetailsResponse" message="tns:IGeneral_GetAllResidentsDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlatDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllFlatDetails" message="tns:IGeneral_GetAllFlatDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllFlatDetailsResponse" message="tns:IGeneral_GetAllFlatDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssets">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllAssets" message="tns:IGeneral_ViewAllAssets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllAssetsResponse" message="tns:IGeneral_ViewAllAssets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewGateKeeping">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewGateKeeping" message="tns:IGeneral_ViewGateKeeping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewGateKeepingResponse" message="tns:IGeneral_ViewGateKeeping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllNotices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllNotices" message="tns:IGeneral_ViewAllNotices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllNoticesResponse" message="tns:IGeneral_ViewAllNotices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllVendors" message="tns:IGeneral_ViewAllVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllVendorsResponse" message="tns:IGeneral_ViewAllVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllEvents" message="tns:IGeneral_ViewAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllEventsResponse" message="tns:IGeneral_ViewAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllFacilities" message="tns:IGeneral_GetAllFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllFacilitiesResponse" message="tns:IGeneral_GetAllFacilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllStaffMembers" message="tns:IGeneral_GetAllStaffMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllStaffMembersResponse" message="tns:IGeneral_GetAllStaffMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPolls">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllPolls" message="tns:IGeneral_GetAllPolls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllPollsResponse" message="tns:IGeneral_GetAllPolls_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IGeneral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllResidentsDetails">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllResidentsDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlatDetails">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllFlatDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssets">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewGateKeeping">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewGateKeeping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllNotices">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllNotices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllVendors">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllEvents">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacilities">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffMembers">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllStaffMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolls">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllPolls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://smartsociety.riteshtailor.in/General.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>