SmartSocietyWeb/App_WebReferences/SSAPIGen/General1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAllResidentsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagMemType" type="xs:int" />
        <xs:element minOccurs="0" name="ResidentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResidentsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllResidentsDetailsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResidentSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlatNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResidentSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResidentSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResidentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResidentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResidentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResidentDeleteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlatDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagFlatType" type="xs:int" />
        <xs:element minOccurs="0" name="FlatNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlatDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllFlatDetailsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewAllAssetsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetDeleteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGateKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckedInOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlatNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGateKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewGateKeepingResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllNotices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
        <xs:element minOccurs="0" name="NoticeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllNoticesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewAllNoticesResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewAllVendorsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendorDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorDeleteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewAllEventsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventDeleteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacilityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllFacilitiesResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacilitiesBookingSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Facility" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacilitiesBookingSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacilitiesBookingSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllStaffMembersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffSearchResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffDeleteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPolls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PollID" type="xs:int" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPollsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPollsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>