SmartSocietyWeb/App_WebReferences/SSAPIGen/General.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="General" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smartsociety.riteshtailor.in/General.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smartsociety.riteshtailor.in/General.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneral_GetAllResidentsDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResidentsDetails" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllResidentsDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResidentsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ResidentSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:ResidentSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ResidentSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResidentSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ResidentDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ResidentDelete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ResidentDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResidentDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFlatDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlatDetails" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFlatDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlatDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllAssets_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllAssets" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllAssets_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AssetSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:AssetSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AssetSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssetSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AssetDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:AssetDelete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_AssetDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssetDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewGateKeeping_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewGateKeeping" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewGateKeeping_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewGateKeepingResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllNotices_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllNotices" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllNotices_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllNoticesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllVendors" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_VendorSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:VendorSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_VendorSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:VendorSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_VendorDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:VendorDelete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_VendorDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:VendorDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllEvents" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ViewAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_EventSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:EventSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_EventSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_EventDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:EventDelete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_EventDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFacilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFacilities" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllFacilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FacilitiesBookingSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:FacilitiesBookingSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_FacilitiesBookingSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FacilitiesBookingSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllStaffMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffMembers" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllStaffMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_StaffSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffSearch" />
  </wsdl:message>
  <wsdl:message name="IGeneral_StaffSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_StaffDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffDelete" />
  </wsdl:message>
  <wsdl:message name="IGeneral_StaffDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllPolls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPolls" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetAllPolls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPollsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetIP_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIP" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIPResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetFloorLights_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFloorLights" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetFloorLights_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFloorLightsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetSLStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSLStatus" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetSLStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSLStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetSensor_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSensor" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetSensor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSensorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetStreetLight_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStreetLight" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetStreetLight_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStreetLightResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetTankLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTankLevel" />
  </wsdl:message>
  <wsdl:message name="IGeneral_GetTankLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTankLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotification" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SetNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneral">
    <wsdl:operation name="GetAllResidentsDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllResidentsDetails" message="tns:IGeneral_GetAllResidentsDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllResidentsDetailsResponse" message="tns:IGeneral_GetAllResidentsDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResidentSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ResidentSearch" message="tns:IGeneral_ResidentSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ResidentSearchResponse" message="tns:IGeneral_ResidentSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResidentDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ResidentDelete" message="tns:IGeneral_ResidentDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ResidentDeleteResponse" message="tns:IGeneral_ResidentDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlatDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllFlatDetails" message="tns:IGeneral_GetAllFlatDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllFlatDetailsResponse" message="tns:IGeneral_GetAllFlatDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssets">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllAssets" message="tns:IGeneral_ViewAllAssets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllAssetsResponse" message="tns:IGeneral_ViewAllAssets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssetSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/AssetSearch" message="tns:IGeneral_AssetSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/AssetSearchResponse" message="tns:IGeneral_AssetSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssetDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/AssetDelete" message="tns:IGeneral_AssetDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/AssetDeleteResponse" message="tns:IGeneral_AssetDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewGateKeeping">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewGateKeeping" message="tns:IGeneral_ViewGateKeeping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewGateKeepingResponse" message="tns:IGeneral_ViewGateKeeping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllNotices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllNotices" message="tns:IGeneral_ViewAllNotices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllNoticesResponse" message="tns:IGeneral_ViewAllNotices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllVendors" message="tns:IGeneral_ViewAllVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllVendorsResponse" message="tns:IGeneral_ViewAllVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VendorSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/VendorSearch" message="tns:IGeneral_VendorSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/VendorSearchResponse" message="tns:IGeneral_VendorSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VendorDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/VendorDelete" message="tns:IGeneral_VendorDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/VendorDeleteResponse" message="tns:IGeneral_VendorDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ViewAllEvents" message="tns:IGeneral_ViewAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ViewAllEventsResponse" message="tns:IGeneral_ViewAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/EventSearch" message="tns:IGeneral_EventSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/EventSearchResponse" message="tns:IGeneral_EventSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/EventDelete" message="tns:IGeneral_EventDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/EventDeleteResponse" message="tns:IGeneral_EventDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllFacilities" message="tns:IGeneral_GetAllFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllFacilitiesResponse" message="tns:IGeneral_GetAllFacilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FacilitiesBookingSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/FacilitiesBookingSearch" message="tns:IGeneral_FacilitiesBookingSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/FacilitiesBookingSearchResponse" message="tns:IGeneral_FacilitiesBookingSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllStaffMembers" message="tns:IGeneral_GetAllStaffMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllStaffMembersResponse" message="tns:IGeneral_GetAllStaffMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/StaffSearch" message="tns:IGeneral_StaffSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/StaffSearchResponse" message="tns:IGeneral_StaffSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/StaffDelete" message="tns:IGeneral_StaffDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/StaffDeleteResponse" message="tns:IGeneral_StaffDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPolls">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetAllPolls" message="tns:IGeneral_GetAllPolls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetAllPollsResponse" message="tns:IGeneral_GetAllPolls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SetIP" message="tns:IGeneral_SetIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SetIPResponse" message="tns:IGeneral_SetIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFloorLights">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SetFloorLights" message="tns:IGeneral_SetFloorLights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SetFloorLightsResponse" message="tns:IGeneral_SetFloorLights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSLStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetSLStatus" message="tns:IGeneral_GetSLStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetSLStatusResponse" message="tns:IGeneral_GetSLStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSensor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SetSensor" message="tns:IGeneral_SetSensor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SetSensorResponse" message="tns:IGeneral_SetSensor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStreetLight">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SetStreetLight" message="tns:IGeneral_SetStreetLight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SetStreetLightResponse" message="tns:IGeneral_SetStreetLight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTankLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/GetTankLevel" message="tns:IGeneral_GetTankLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/GetTankLevelResponse" message="tns:IGeneral_GetTankLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SetNotification" message="tns:IGeneral_SetNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SetNotificationResponse" message="tns:IGeneral_SetNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IGeneral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllResidentsDetails">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllResidentsDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResidentSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ResidentSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResidentDelete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ResidentDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlatDetails">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllFlatDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllAssets">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssetSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/AssetSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssetDelete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/AssetDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewGateKeeping">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewGateKeeping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllNotices">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllNotices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllVendors">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VendorSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/VendorSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VendorDelete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/VendorDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllEvents">
      <soap:operation soapAction="http://tempuri.org/IGeneral/ViewAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/EventSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventDelete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/EventDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacilities">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacilitiesBookingSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/FacilitiesBookingSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffMembers">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllStaffMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffSearch">
      <soap:operation soapAction="http://tempuri.org/IGeneral/StaffSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffDelete">
      <soap:operation soapAction="http://tempuri.org/IGeneral/StaffDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolls">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetAllPolls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIP">
      <soap:operation soapAction="http://tempuri.org/IGeneral/SetIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFloorLights">
      <soap:operation soapAction="http://tempuri.org/IGeneral/SetFloorLights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSLStatus">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetSLStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSensor">
      <soap:operation soapAction="http://tempuri.org/IGeneral/SetSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStreetLight">
      <soap:operation soapAction="http://tempuri.org/IGeneral/SetStreetLight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTankLevel">
      <soap:operation soapAction="http://tempuri.org/IGeneral/GetTankLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotification">
      <soap:operation soapAction="http://tempuri.org/IGeneral/SetNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://smartsociety.riteshtailor.in/General.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>